@using WebApplication22.ViewModels
@using WebApplication22.Models
@model OrdersViewModel

<div class="container">
    <h3 class="container__header">РАЗДЕЛ АДМИНИСТРАТОРА - АРХИВ</h3>
    <table class="user-table">
        <thead>
            <tr>
                <th>
                    ИД
                </th>
                <th>
                    Модель
                </th>
                <th>
                    Марка
                </th>
                <th>
                    Год
                </th>
                <th>
                    Данные клиента
                </th>
                <th>
                    Состояние
                </th>
                <th>
                    Действия
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var u in Model.Orders)
            {
                <tr>
                    <td>
                        @u.ID
                    </td>
                    <td>
                        @u.ModelYear.Model.Name
                    </td>
                    <td>
                        @u.ModelYear.Model.Make.Name
                    </td>
                    <td>
                        @u.ModelYear.Year
                    </td>
                    <td>
                        @u.Customer.FullName <br /> @u.Customer.Phone
                    </td>
                    <td>
                        @u.OrderStatus.Title
                    </td>
                    <td>
                        @Html.ActionLink("Удалить", "DeleteOrder", "Admin", new { id = u.ID }, new { })<br />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>