@using WebApplication22.Models
@model Model
<h3 class="container__header">
    Добавить модель
</h3>
@using (Html.BeginForm("CreateModel", "Admin", FormMethod.Post))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div>
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)
    </div>
    <br />
    <div>
        @Html.LabelFor(m => m.TrimName)
        @Html.TextBoxFor(m => m.TrimName)
    </div>
    <br />
    <div>
        @Html.LabelFor(m => m.VpicID)
        @Html.TextBoxFor(m => m.VpicID, new { type = "number" })
    </div>
    <br />
    <div>
        @Html.LabelFor(m => m.MakeID)
        @Html.DropDownListFor(m => m.MakeID, Model.Makes.Select(m => new SelectListItem { Value = m.ID.ToString(), Text = m.Name }))
    </div>
    <br />

    <button class="default-button">Добавить</button>
}
