<ul class="top-navbar">
    <li><a href="@Url.Action("Users", "Admin")">Пользователи</a></li>
    <li><a href="@Url.Action("Makes", "Admin")">Производитель</a></li>
    <li><a href="@Url.Action("Models", "Admin")">Модель</a></li>
    <li><a href="@Url.Action("ModelYears", "Admin")">Год</a></li>
    <li><a href="@Url.Action("Vins", "Admin")">Вин</a></li>
    <li><a href="@Url.Action("Customers", "Admin")">Клиенты</a></li>
    <li><a href="@Url.Action("Orders", "Admin")">Заказы</a></li>
    <li><a href="@Url.Action("Archieve", "Admin")">Архив</a></li>
    <li style="float:right"><a href="@Url.Action("Logout", "Auth")">Выход</a></li>
</ul>